<header>
    <nav class="container">
        <ul class="liste-menu">
            <li class="item">
                <p>Lego<span>Lovers</span></p>
            </li>
            <li class="item">
                <a class="liste-menu-lien" href="http://localhost:5000/echanges">Profil</a> 
            </li>
        </ul>
    </nav>
</header>